{% extends "tienda/base.html" %}


{% block content %}

    <h3 style="text-align: center;">Carro de compras</h3>

    <a href="{% url 'Pedidos' %}" style="color: inherit;"><h4>Lista de pedidos</h4></a>


    {% if total > 0 %}

        {% for producto, item in contexto %}

         

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre del producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ producto.nombre_prod }}</th>
            <td>{{ item.cantidad }}</td>
            <td>{{ producto.precio }}</td>

            <td>
            <a href="{% url 'Deletecarro' producto.id %}">
            Borrar producto
            </a>
            </td>

            <td>
            <a href="{% url 'producto' producto.nombre_prod %}">
            Actualizar producto
            </a>
            </td>
          </tr>
      </table>
            
        {% endfor %}

        <h5>Total del pedido en dolares: {{ total }}</h5>

        <h5>Total del pedido en bolivares: {{ dolar }}</h5>

        <a href="{% url 'Pagar' %}" style="margin-bottom: 500px;"><h5>Realizar compra</h5></a>

    {% else %}

        <h3>El carrito esta vacio</h3>

    {% endif %}





{% endblock %}