{% extends "tienda/base.html" %}


{% block content %}

    <p>Elija una direccion de envio</p>

    {% if direcciones %}

    <p>Direcciones registradas:</p>




    <form method="POST" action="">

        {% csrf_token %}

        <table class="table" style="width: 75%; justify-content: center;">
            <thead>
              <tr>
                <th scope="col">Telefono</th>
                <th scope="col">Cedula</th>
                <th scope="col">Municipio</th>
                <th scope="col">Urbanizacion</th>
                <th scope="col">Direccion</th>
              </tr>
            </thead>
        
            <tbody>
            {% for direccion in direcciones %}
                    
                    <tr>
                        <th scope="row">{{ direccion.telefono }}</th>
                        <td>{{ direccion.cedula }}</td>
                        <td>{{ direccion.municipio }}</td>
                        <td>{{ direccion.urbanizacion }}</td>
                        <td>{{ direccion.direccion }}</td>
                        <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="direccion" id="flexRadioDefault1" value="{{direccion.id}}">
                            <label class="form-check-label" for="direccion">
                            </label>
                        </div>
                        </td>
                    </tr>
        
            {% endfor %}
            </tbody>
        
        </table>

        <h3>Metodos de envio</h3>

        <div style="margin-left: 20px;">
        <input type="radio" name="despacho" id="0" value="0">
        <label for="tienda">Recoger la compra en la tienda</label>
        
         
            {% if total > 80 %}
                <input type="radio" name="despacho" id="1" value="1">
                <label for="despacho">Si su compra es superior a $80 puede solicitar el envio a la direccion que usted seleccione</label>
            {% endif %}

        <button type="submit">Enviar</button>

        </div>

        </form>

    {% else %}

        <h2>Usted no tiene direcciones registradas</h2>
        <a href="{% url 'direcciones' %}"><h3>Haga clic para registrar una direccion</h3></a>


    {% endif %}







{% endblock %}


