{% extends "tienda/base.html" %}

{% block content %}

    <h2 style="text-align: center;">Libreta de direcciones</h2>


    {% if direcciones %}

    <h3 style="padding-left: 20px;">Direcciones registradas</h3>

    <table class="table" style="width: 75%; justify-content: center;">
        <thead>
          <tr>
            <th scope="col">Telefono</th>
            <th scope="col">Cedula</th>
            <th scope="col">Municipio</th>
            <th scope="col">Urbanizacion</th>
            <th scope="col">Direccion</th>
          </tr>
        </thead>

        <tbody>
        {% for direccion in direcciones %}
                
                <tr>
                    <th scope="row">{{ direccion.telefono }}</th>
                    <td>{{ direccion.cedula }}</td>
                    <td>{{ direccion.municipio }}</td>
                    <td>{{ direccion.urbanizacion }}</td>
                    <td>{{ direccion.direccion }}</td>
                </tr>

        {% endfor %}
        </tbody>

    </table>

    {% else %}

        <p>No ha registrado ninguna direccion</p>


    {% endif %}



        <h3 style="padding-left: 20px;">Registrar direccion</h3>

    <form class="row g-3" method="POST" style="width: 60%; padding-left: 20px;">

        {% csrf_token %}

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Telefono</label>
          <input type="" class="form-control" id="inputEmail4" name="telefono">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Cedula</label>
          <input type="" class="form-control" id="inputPassword4" name="cedula">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Direccion</label>
          <input type="text" class="form-control" id="inputAddress" name="direccion">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Urbanizacion</label>
          <input type="text" class="form-control" id="inputCity" name="urbanizacion">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Municipio</label>
          <select id="inputState" class="form-select" name="municipio">
            <option selected>Elegir...</option>
            <option value="Bejuma">Bejuma</option>
            <option value="Valencia">Valencia</option>
            <option value="San Diego">San Diego</option>
            <option value="Guacara">Guacara</option>
            <option value="Los Guayos">Los Guayos</option>
            <option value="Puerto Cabello">Puerto Cabello</option>
          </select>
        </div>
        <div class="col-12">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Registrar direccion</button>
        </div>
      </form>



{% endblock %}